img{
  display:block;
}
h1,p{
  margin: 20px;
text-align: center;

}
#image{
  max-width:100%;
  height:auto;
  margin: 0 auto;
  border: 30px solid white;
}
main{

  margin: 100px 20px 130px 20px;
  background-color: grey;
  border-radius: 8px;
  line-height: 32px;

}
body{
  margin: 0;

}
ul {
  display: table;
  margin: 0 auto;
  max-width: 700px;
}
#img-caption{
  text-align: center;
}
#tribute-info{
  text-align: center;
}
span{
  font-weight: bold;
}
.end{
  margin: 0 auto;
  max-width: 700px;
  margin-top: 40px;
  font-style: italic;
}
#tribute-link{
  text-decoration: none;
  color: #000;
}
h2{
  text-align: center;
  
}